#logo {
  font-size: 28px;
  font-family: "InterDisplay", sans-serif;
  font-weight: bold;
}

#main-navbar {
  font-size: 20px;
  font-family: "Inter", "Helvetica", sans-serif;
}

.body {
  font-family: "Inter", "Helvetica", sans-serif;
}

#fpassword {
  cursor: pointer;
}
