{% extends "layout.html" %} {% block title %} {{title}} {% endblock %} {% block
main %}
<div class="container">
  {% if method == 'GET' %}
  <div class="row">
    <div class="col-lg">
      <div class="mt-5 alert alert-danger" role="alert">
        <h4>Important Information!</h4>
        <p>
          You are dealing with sensitive Govt data, please choose a strong
          password to protect your account from unauthorised access. Any leak in
          information from your account can lead to serious consequences. Please
          be careful and responsible while using this tool.
        </p>
        <hr />
        <p class="mb-0">
          Upon registering your
          <strong
            >account needs to be approved by the Admin before you can login </strong
          >. You can contact the Admin at
          <a href="mailto:ayansarkar.js@gmail.com">ayansarkar.js@gmail.com</a>
          for approval.
        </p>
      </div>
      <div class="mt-3 alert alert-success" role="alert">
        <h4>A note from the Developer</h4>
        <p>
          Welcome to A&P-A share. This tool was made by me, Ayan Sarkar, PA(CO),
          O/o the PMG, SB Region during his spare time only to facilitate the
          internal branch related record maintenance work of this branch. This
          is not an official tool and is not affiliated with any Govt
          department.
        </p>
        <hr />
        <p class="mb-0">
          This tool was made by me to facilitate maintenane of register of
          medical bills, records of bills being processed in a complex manner so
          as to generate required statistical data at any point of time.
          <strong>Hope this helps you too!</strong>
        </p>
      </div>
    </div>
    <div class="col-lg">
      <h1 class="mb-4 mt-5 text-center">Register for an Account</h1>
      <div class="col-lg-8 mx-auto">
        <form action="/register" method="post">
          <label class="form-label"> Your Name</label>
          <div class="input-group mb-3">
            <span class="input-group-text">FN</span>
            <input
              autocomplete="off"
              autofocus
              class="form-control mx-auto"
              id="firstname"
              name="firstname"
              placeholder="First Name"
              type="text"
              required
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">LN</span>
            <input
              autocomplete="off"
              class="form-control mx-auto"
              id="lastname"
              name="lastname"
              placeholder="First Name"
              type="text"
            />
          </div>
          <label for="email" class="form-label">
            Email (For support communications only, not for Login)</label
          >
          <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input
              autocomplete="off"
              class="form-control mx-auto"
              id="email"
              name="email"
              placeholder="abc@xyz.com"
              type="email"
              required
            />
          </div>
          <label for="username" class="form-label">Username</label>
          <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input
              autocomplete="off"
              class="form-control mx-auto"
              id="username"
              name="username"
              placeholder="Username"
              type="text"
              required
            />
          </div>
          <label for="password" class="form-label">Password</label>
          <div class="input-group mb-3">
            <span class="input-group-text">#P</span>
            <input
              class="form-control mx-auto"
              name="password"
              id="password"
              placeholder="Password"
              type="password"
              required
            />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">#P</span>
            <input
              class="form-control mx-auto"
              name="confirmpassword"
              id="confirmpassword"
              placeholder="Confirm Password"
              type="password"
              required
            />
          </div>
          {% if register_error %}
          <div class="mb-3 form-control-plaintext">
            <span style="color: red"> {{ error_message }} </span>
          </div>
          {% endif %}
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Register</button>
          </div>
        </form>
      </div>
    </div>
    {% else %} {% if register_error %}
    <div class="mt-3 alert alert-danger" role="alert">
      <h4>Error: {{error_message}}</h4>
      <hr />
      <p>
        Please <a href="/register">register</a> again. Inconvenience is
        regretted
      </p>
    </div>
    {% else %}
    <div class="mt-3 alert alert-success" role="alert">
      <h4>You have successfully registered!</h4>
      <hr />
      <p>
        Please note that you can only login after the admin has activated your
        user account. This is to prevent unauthorised access to sensitive
        Government data. Usually account is activated within 24 hours. If not,
        please contact the admin at
        <a href="mailto:ayansarkar.js@gmail.com">ayansarkar.js@gmail.com</a>
        from the email you used during registration.
      </p>
    </div>
  </div>
  {% endif %} {% endif %} {% endblock %}
</div>
